<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
  <servers>
    <server>
      <username>mohammedtaher10295@gmail.com</username>
      <password>cmVmdGtuOjAxOjE3MTc0NDMxNjY6NmtzREJkcEp4S3U2Y0ZXUFV2MU5Qb1M4Uk1C</password>
      <id>central</id>
    </server>
    <server>
      <username>mohammedtaher10295@gmail.com</username>
      <password>cmVmdGtuOjAxOjE3MTc0NDMxNjY6NmtzREJkcEp4S3U2Y0ZXUFV2MU5Qb1M4Uk1C</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>selenium</name>
          <url>https://mta.jfrog.io/artifactory/selenium</url>
        </repository>
        <repository>
          <snapshots/>
          <id>snapshots</id>
          <name>selenium</name>
          <url>https://mta.jfrog.io/artifactory/selenium</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>selenium</name>
          <url>https://mta.jfrog.io/artifactory/selenium</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>selenium</name>
          <url>https://mta.jfrog.io/artifactory/selenium</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>