<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" data-provider-thread-count="1" name="WebDriver Suite" group-by-instances="true">
  <listeners>
    <listener class-name="tools.listeners.TestNGListener"/>
  </listeners>
  <test thread-count="1" name="Chrome Test" group-by-instances="true">
    <parameter name="browserName" value="chrome"/>
    <classes>
      <class name="tests.TestClass"/>
      <class name="tests.ContactUsTest"/>
      <class name="tests.SearchProductWithAutoSuggestTest"/>
      <class name="tests.ChangeCurrencyTest"/>
      <class name="tests.EmailFriendTest"/>
      <class name="tests.MyAccountTest"/>
      <class name="tests.SearchProductTest"/>
      <class name="tests.AddProductReviewTest"/>
    </classes>
  </test> <!-- Chrome Test -->
  <test thread-count="1" name="Firefox Test" group-by-instances="true">
    <parameter name="browserName" value="firefox"/>
    <classes>
      <class name="tests.TestClass"/>
      <class name="tests.ContactUsTest"/>
      <class name="tests.SearchProductWithAutoSuggestTest"/>
      <class name="tests.ChangeCurrencyTest"/>
      <class name="tests.EmailFriendTest"/>
      <class name="tests.MyAccountTest"/>
      <class name="tests.SearchProductTest"/>
      <class name="tests.AddProductReviewTest"/>
    </classes>
  </test> <!-- Firefox Test -->
</suite> <!-- WebDriver Suite -->
